<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/recipes">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>recipe-detail</ion-title>
    <ion-buttons slot="secondary">
        <ion-button>
            <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{loadrecipe.Title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="loadrecipe.imageUrl">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
